<div class="container" ng-show="error">
	<div class="alert alert-danger" role="alert">
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	    <span class="sr-only">Error:</span>
	    {{error}}
	</div>
</div>
<div class="container" ng-show="actors">
	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 lib-item" data-category="view" ng-repeat="actor in actors">
		<a href="#/actor/{{actor.actor_id}}" style="text-decoration:none; color:black">
		    <div class="lib-panel">
		        <div class="row box-shadow">
		            <div class="col-xs-12">
		                <img class="lib-img-show" src="/actor/img/{{actor.actor_id}}.jpg">
		            </div>
		            <div class="col-xs-12">
		                <div class="lib-row lib-header">
	                    	<h5>{{actor.firstname}} {{actor.lastname}}</h5>
		                    <div class="lib-header-seperator"></div>
		                </div>
		                <div class="lib-row lib-desc">
		                </div>
		            </div>
		        </div>
		    </div>
		</a>
	</div>
</div>
