<div class="container" ng-show="error">
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        {{error}}
    </div>
</div>
<div class="col-xs-12" ng-show="actor">
<div class="col-md-3 col-sm-4 lib-item" data-category="view">
    <div class="lib-panel">
        <div class="row box-shadow">
            <div class="col-lg-12">
                <img class="lib-img-show" src="/actor/img/{{actor.actor_id}}.jpg">
            </div>
            <div class="col-lg-12">
                <div class="lib-row lib-header">
                    <h2>{{actor.firstname}} {{actor.lastname}}</h2>
                    <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                    <table class="table table-striped">
                        <tr><th>Birth Date</th><td>{{actor.birthdate}}</td></tr>
                        <tr><th>Birth Place</th><td>{{actor.birth_city}} {{actor.birth_province}} {{actor.birth_country}}</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9 col-sm-8" ng-controller="moviesController">
    <div class="col-lg-6 col-md-6 lib-item" data-category="view" ng-repeat="movie in movies">
        <a href="#/movie/{{movie.movie_id}}" style="text-decoration:none; color:black">
            <div class="lib-panel">
                <div class="row box-shadow">
                    <div class="col-lg-6 col-md-12">
                        <img class="lib-img-show" src="/movie/img/{{movie.movie_id}}.jpg">
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="lib-row lib-header">
                            <h2>{{movie.name}}</h2>
                            <div class="lib-header-seperator"></div>
                        </div>
                        <div class="lib-row lib-desc">
                            <p>{{movie.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
</div>