<div class="container" ng-show="error">
	<div class="alert alert-danger" role="alert">
	    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	    <span class="sr-only">Error:</span>
	    {{error}}
	</div>
</div>
<div class="col-xs-12" ng-show="movie">
<div class="col-md-3 col-sm-4 lib-item" data-category="view">
    <div class="lib-panel">
        <div class="row box-shadow">
            <div class="col-lg-12">
                <img class="lib-img-show" src="/movie/img/{{movie.movie_id}}.jpg">
            </div>
            <div class="col-lg-12">
                <div class="lib-row lib-header">
                    <h2>{{movie.name}}</h2>
                    <div class="lib-header-seperator"></div>
                </div>
                <div class="lib-row lib-desc">
                	<p>{{movie.description}}
                    <table class="table table-striped">
                        <tr><th>Release date</th><td>{{movie.release_date}}</td></tr>
                        <tr><th>rating</th><td>
                        	<uib-rating ng-model="rating.rate" max="rating.max" readonly="rating.isReadonly" on-hover="hoveringOver(value)" on-leave="rating.overStar = null"></uib-rating>
    						</td>
    					</tr>
                    </table>
                    <button type="button" class="btn btn-primary" style="margin-bottom:15px" ng-show="storage.user" ng-click="rentMovie()">Rent this movie!</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-9 col-sm-8" ng-controller="actorsController">
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 lib-item" data-category="view" ng-repeat="actor in actors">
		<a href="#/actor/{{actor.actor_id}}" style="text-decoration:none; color:black">
		    <div class="lib-panel">
		        <div class="row box-shadow">
		            <div class="col-xs-12">
		                <img class="lib-img-show" src="/actor/img/{{actor.actor_id}}.jpg">
		            </div>
		            <div class="col-xs-12">
		                <div class="lib-row lib-header">
	                    	<h5>{{actor.firstname}} {{actor.lastname}}</h5>
		                    <div class="lib-header-seperator"></div>
		                </div>
		                <div class="lib-row lib-desc">
		                </div>
		            </div>
		        </div>
		    </div>
		</a>
	</div>
</div>
</div>